*{
    
    margin: 0;
    padding:0;  
    
}
.container{
    width:100%;
    height: 100vh;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing:border-box;
    background-color:rgb(74, 127, 127);

    
}

.container2{
    width:100%;
    height: 100vh;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing:border-box;
    background-color: rgb(12, 99, 99);
    
}
.container2 img{
    border-radius: 50px;
    position: relative;
    float: left;
    margin-top: 20px;
}

 h4{
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    padding:34px;

}

.container3{
    width:100%;
    height: 100vh;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing:border-box;
    background-color: rgb(74, 127, 127);
    
}

.navbar{
    
    display: flex;
    background-color: rgb(74, 127, 127);
    align-items: center;
    margin-bottom: 34px;
    border-radius: 20px;
    
}

nav{
    flex: 1;
    text-align: center;
    
}

ul{
    list-style-type: none;
    background-color: #333;
    margin-left: 60px;
  
}

li {
    float: right;
    list-style: none;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}
.login{
    color: black;
    border-radius: 20px;
    border: 2px solid transparent;
    background-image: linear-gradient(rgb(74, 127, 127),#42455a),radial-gradient(circle at top left, #fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    margin-top: 10px;

}

li a:hover{
    color: rgb(247, 97, 247);
}
section {
    margin-top: 40px;
    padding:40px;
   
}
.figure{
    float: right;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #42455a;

}
.boldings{
    font: bold;
    font-size: 45px;
    margin-bottom: 20px;
 }
button{
    width: 180px;
    color: #fff;
    font-size: 12px;
    padding: 12px 0;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left, #fd00da,#19d7f8);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
button:hover{
    color: violet;
}
img{
    margin-bottom: 42px;
}
.clicks{
    padding:8px 4px;
    
}
.block{
    float: left;
    width: 25%;
    
    padding:10px;
    
}

.bottom{
   
    margin-bottom:20px;
}
footer{
    width:100%;
    height: 50vh;
    background-color:#42455a ;  
}
footer .block{
    text-align: center;
    margin-left:45px;
    margin-right: 45px;
}
.end{
    width:100%;
    height:5vh;
    background-color: #42476b;
   
}
.end, p{
    text-align: center;
    color: white;
    padding:8px;
   
}