
*{
    margin:0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    /* align-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50vmin; */

    
}
.main{
 width: 100%;
 padding: 3px;
 box-sizing: content-box; 

    
}